<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form id="loginForm" action="/api/v1/user/login" method="post">
    <input type="email" id="email" name="email" placeholder="Email"><br>
    <input type="password" id="password" name="password" placeholder="Password"><br>
    <button type="submit">Login</button>
</form>

<script>
        localStorage.setItem('userId', 1);
</script>
</body>
</html>
